node-RED/k9_flows.json
[{"type":"tab","id":"a559c96c.891c68","label":"K9 Main"},{"type":"tab","id":"954f3508.375128","label":"Arduino Dashboard"},{"id":"d9557f8a.ce9b38","type":"websocket-client","path":"/admin/ws/motors","wholemsg":"false"},{"id":"1205daf8.657ce5","type":"websocket-listener","path":"admin/ws/status","wholemsg":"false"},{"id":"96d73dd5.91d7c","type":"websocket-listener","path":"admin/ws/k9","wholemsg":"false"},{"id":"822d80a.dc1db8","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"4a2509ef.088178","type":"websocket in","name":"Web socket instructions","server":"96d73dd5.91d7c","client":"","x":530,"y":131.3333282470703,"z":"a559c96c.891c68","wires":[["82afe599.49c71","1c2fc340.a8305d"]]},{"id":"9dc0f60a.8a73b8","type":"debug","name":"std out","active":true,"console":"false","complete":"payload","x":2506.6428833007812,"y":619.0834350585938,"z":"a559c96c.891c68","wires":[]},{"id":"36909d07.042f12","type":"function","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1545.392822265625,"y":448.58343505859375,"z":"a559c96c.891c68","wires":[["92cda31c.a16508"]]},{"id":"92cda31c.a16508","type":"exec","command":"sudo python ","addpay":true,"append":"","useSpawn":"","name":"Move head or tail","x":1996.8928833007812,"y":599.3334350585938,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"7a54e25f.77c9ec","type":"debug","name":"error","active":true,"console":"false","complete":"payload","x":2503.8928833007812,"y":753.3334350585938,"z":"a559c96c.891c68","wires":[]},{"id":"1fbbc042.3cb48","type":"debug","name":"rc","active":true,"console":"false","complete":"payload","x":2508.8928833007812,"y":875.0834350585938,"z":"a559c96c.891c68","wires":[]},{"id":"319135e1.351daa","type":"switch","name":"Message type received","property":"payload.type","rules":[{"t":"eq","v":"information"},{"t":"eq","v":"navigation"},{"t":"eq","v":"toggle"},{"t":"eq","v":"mood"},{"t":"eq","v":"servo"}],"checkall":"false","outputs":5,"x":936.3333129882812,"y":301.7499990463257,"z":"a559c96c.891c68","wires":[[],["ef59e887.631fa"],["e7b8621.350862"],["f842a8e6.e9446"],["2c16fb27.79123c"]]},{"id":"a309d87d.96f81","type":"websocket in","name":"Status bar","server":"1205daf8.657ce5","client":"","x":523.433349609375,"y":535.8500366210938,"z":"a559c96c.891c68","wires":[["82cf5f38.6b3b38"]]},{"id":"44d53661.6167a8","type":"debug","name":"Drive status (sb)","active":false,"console":"false","complete":"payload","x":929.4332885742188,"y":656.8499755859375,"z":"a559c96c.891c68","wires":[]},{"id":"82afe599.49c71","type":"debug","name":"Web socket (ws)","active":false,"console":"false","complete":"payload","x":774.4332885742188,"y":130.8500213623047,"z":"a559c96c.891c68","wires":[]},{"id":"e7b8621.350862","type":"switch","name":"Lights, tail and head","property":"payload.object","rules":[{"t":"eq","v":"lights"},{"t":"eq","v":"head"},{"t":"eq","v":"eyes"},{"t":"eq","v":"tail"}],"checkall":"false","outputs":4,"x":1224,"y":395,"z":"a559c96c.891c68","wires":[["82cd70fe.196228"],["36909d07.042f12"],["5f18034d.485324"],["eb8a0363.a1a2c"]]},{"id":"5f668d94.e3464c","type":"rpi-gpio out","name":"Light switch","pin":"11","set":true,"level":"0","out":"out","x":1974.142822265625,"y":656.3334350585938,"z":"a559c96c.891c68","wires":[]},{"id":"bca4be4b.154d6","type":"rpi-gpio out","name":"Eye switch","pin":"13","set":true,"level":"0","out":"out","x":1971.428466796875,"y":713.3334350585938,"z":"a559c96c.891c68","wires":[]},{"id":"10462f6c.9d1ac1","type":"comment","name":"ws websocket","info":"The ws websocket will send\n\nThe ws websocket sends distance information to the browser from the Pi","x":522.3333129882812,"y":73.99998474121094,"z":"a559c96c.891c68","wires":[]},{"id":"54396c12.ab6ecc","type":"comment","name":"sb websocket","info":"The sb websocket is used to send the following information:\n\nThe sb websocket receives the following information:\n","x":526,"y":493.3333740234375,"z":"a559c96c.891c68","wires":[]},{"id":"eb56e9ca.6d7ac","type":"debug","name":"Information received","active":false,"console":"false","complete":"payload","x":1713.333251953125,"y":329,"z":"a559c96c.891c68","wires":[]},{"id":"82cf5f38.6b3b38","type":"json","name":"Convert JSON string to JS object","x":773.3333129882812,"y":597,"z":"a559c96c.891c68","wires":[["44d53661.6167a8"]]},{"id":"f842a8e6.e9446","type":"switch","name":"Moods","property":"payload.object","rules":[{"t":"eq","v":"wake_up"},{"t":"eq","v":"sad"},{"t":"eq","v":"scanning"},{"t":"eq","v":"sleep"},{"t":"eq","v":"thanks"},{"t":"eq","v":"home"}],"checkall":"true","outputs":6,"x":1176.3333129882812,"y":715,"z":"a559c96c.891c68","wires":[["56b01385.d81104","f7658117.9f38f8"],["3182047e.f945e4","2a3fa229.77dace"],["56b01385.d81104","6594fa28.9c2b2c","df0131e5.5b026"],["e24cf42.47cba88"],["f158874f.eb6d98"],["2b95184f.5fddd8"]]},{"id":"56b01385.d81104","type":"change","name":"Wake Up","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":1516.3332824707031,"y":722.2222290039062,"z":"a559c96c.891c68","wires":[["5f668d94.e3464c","bca4be4b.154d6","5e931121.bf4728","b395deab.d58408"]]},{"id":"e24cf42.47cba88","type":"change","name":"Sleep","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":1496.3333129882812,"y":883,"z":"a559c96c.891c68","wires":[["5f668d94.e3464c","bca4be4b.154d6","3182047e.f945e4","b284abdc.de104","b1cddf45.7e2fe8"]]},{"id":"5e931121.bf4728","type":"exec","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1954.3333129882812,"y":925,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"3182047e.f945e4","type":"exec","command":"sudo python /home/pi/site/python/head_down.py","addpay":false,"append":"","useSpawn":"","name":"Head Down","x":1959.3333129882812,"y":995,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"617e42f.7e30a3c","type":"exec","command":"sudo python /home/pi/site/python/scanning.py","addpay":false,"append":"","useSpawn":"","name":"Scanning","x":2242.3333129882812,"y":827,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"2c16fb27.79123c","type":"template","name":"Command arguments","field":"payload","format":"handlebars","template":"{{payload.object}} {{payload.value}} ","x":1479.3333129882812,"y":24.249984741210938,"z":"a559c96c.891c68","wires":[["d6e8eab7.0ce3c8"]]},{"id":"d6e8eab7.0ce3c8","type":"exec","command":"sudo python /home/pi/site/python/servotuner.py","addpay":true,"append":"","useSpawn":"","name":"Servotuner","x":1908.333251953125,"y":27.5,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"6594fa28.9c2b2c","type":"exec","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1850.3333129882812,"y":822,"z":"a559c96c.891c68","wires":[["bce479c2.78766"],[],[]]},{"id":"bce479c2.78766","type":"delay","name":"Wait for neck to raise","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2038.3333129882812,"y":829,"z":"a559c96c.891c68","wires":[["617e42f.7e30a3c"]]},{"id":"117fe9c5.502a56","type":"websocket out","name":"Send message to servocontroller","server":"","client":"d9557f8a.ce9b38","x":1743.333251953125,"y":238,"z":"a559c96c.891c68","wires":[]},{"id":"1c2fc340.a8305d","type":"json","name":"","x":643.3333129882812,"y":265,"z":"a559c96c.891c68","wires":[["319135e1.351daa"]]},{"id":"ef59e887.631fa","type":"json","name":"","x":1188.333251953125,"y":277,"z":"a559c96c.891c68","wires":[["86919c7.ea34be"]]},{"id":"86919c7.ea34be","type":"change","name":"Delete session information","rules":[{"t":"delete","p":"_session"}],"action":"","property":"","from":"","to":"","reg":false,"x":1417.333251953125,"y":272,"z":"a559c96c.891c68","wires":[["117fe9c5.502a56","eb56e9ca.6d7ac"]]},{"id":"b284abdc.de104","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'Conserving battery power'","addpay":false,"append":"","useSpawn":"","name":"Speak 'conserving battery power'","x":2004.333251953125,"y":1126,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"f7658117.9f38f8","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'All systems operational'","addpay":false,"append":"","useSpawn":"","name":"Speak 'All systems operational'","x":1542.8887329101562,"y":669.5555877685547,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"df0131e5.5b026","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'Scanning area'","addpay":false,"append":"","useSpawn":"","name":"Speak 'scanning area'","x":1991.3333129882812,"y":1186,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"2a3fa229.77dace","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'Apologies master'","addpay":false,"append":"","useSpawn":"","name":"Speak 'Apologies master'","x":1953.333251953125,"y":1264,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"91bfc0d7.cfbf3","type":"function","name":"Assemble K9 state from global context variables","func":"var voltage = context.global.volts;\nvar current = context.global.amps;\nvar eyes = context.global.eyes;\nvar backpanel = context.global.backpanel;\n// Test data generate data between 1 and 1023\n// comment out to use real data\n// voltage = Math.floor(Math.random() * 1022) + 1 ;\n// current = Math.floor(Math.random() * 1022) + 1 ;\n// Example of how to alter reading\n// reading = (reading / 1024 * 13.7).toFixed(1);\nreading_string = '{\"voltage\" : \"' + String(voltage) + '\", \"current\" : \"' + String(current) + '\", \"backpanel\" : \"' + String(backpanel) + '\", \"eyes\" : \"' + String(eyes) + '\"}';\n// ', \"eyes\" : \"' + String(eyes) + \nmsg.payload = JSON.parse(reading_string);\nreturn msg","outputs":1,"noerr":0,"x":494.00001525878906,"y":244,"z":"954f3508.375128","wires":[["a996db8f.ae961","cd927b96.601368"]]},{"id":"a996db8f.ae961","type":"dweetio out","thing":"5CAF7B62AD734C478883A0F1F6F311D3","name":"Sent to K9 Dashboard via Dweetio","x":870.0000152587891,"y":245,"z":"954f3508.375128","wires":[]},{"id":"595455ab.b6948c","type":"delay","name":"Update voltage every second","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":445.00001525878906,"y":156,"z":"954f3508.375128","wires":[["3e97075a.6ceb8","eb46974.7bf7968"]]},{"id":"6b723066.926be","type":"inject","name":"Send update every second","topic":"k9state","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":167,"y":243,"z":"954f3508.375128","wires":[["91bfc0d7.cfbf3"]]},{"id":"3e97075a.6ceb8","type":"function","name":"Assign voltage to global context","func":"msg.payload = (14.19 * msg.payload / 1023 ).toFixed(2);\ncontext.global.volts = msg.payload;\nreturn msg;","outputs":"0","noerr":0,"x":896.0000152587891,"y":158,"z":"954f3508.375128","wires":[]},{"id":"dc79e278.4c6c28","type":"delay","name":"Update current reading every second","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":468.00001525878906,"y":85,"z":"954f3508.375128","wires":[["90dc162b.892d38"]]},{"id":"90dc162b.892d38","type":"function","name":"Assign amps to global context","func":"msg.payload =  (msg.payload/105).toFixed(2);\ncontext.global.amps = msg.payload;\nreturn msg;","outputs":"0","noerr":0,"x":895.0000152587891,"y":85,"z":"954f3508.375128","wires":[]},{"id":"cd927b96.601368","type":"debug","name":"JSON string sent to Dweetio","active":false,"console":"false","complete":"payload","x":856.0000152587891,"y":309.00001525878906,"z":"954f3508.375128","wires":[]},{"id":"82cd70fe.196228","type":"function","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.backpanel = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;","outputs":"1","noerr":0,"x":1545,"y":392,"z":"a559c96c.891c68","wires":[["5f668d94.e3464c"]]},{"id":"5f18034d.485324","type":"function","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.eyes = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1548,"y":502,"z":"a559c96c.891c68","wires":[["bca4be4b.154d6"]]},{"id":"c95ab0ac.0d038","type":"arduino in","name":"Ammeter","pin":"1","state":"ANALOG","arduino":"822d80a.dc1db8","x":137,"y":88,"z":"954f3508.375128","wires":[["dc79e278.4c6c28"]]},{"id":"eb46974.7bf7968","type":"debug","name":"","active":true,"console":"false","complete":"true","x":446,"y":367,"z":"954f3508.375128","wires":[]},{"id":"b395deab.d58408","type":"exec","command":"sudo python /home/pi/site/python/tail_up.py","addpay":false,"append":"","useSpawn":"","name":"Tail Up","x":1982,"y":771,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"b1cddf45.7e2fe8","type":"exec","command":"sudo python /home/pi/site/python/tail_down.py","addpay":false,"append":"","useSpawn":"","name":"Tail Down","x":1947,"y":1057,"z":"a559c96c.891c68","wires":[["9dc0f60a.8a73b8"],["7a54e25f.77c9ec"],["1fbbc042.3cb48"]]},{"id":"f56a30f7.345cf","type":"exec","command":"sudo python /home/pi/site/python/tail_h.py","addpay":false,"append":"","useSpawn":"","name":"Wag Horizontal","x":1959,"y":514,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"eb8a0363.a1a2c","type":"function","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1536,"y":582,"z":"a559c96c.891c68","wires":[["92cda31c.a16508"]]},{"id":"f158874f.eb6d98","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'Thanks are not necessary, master'","addpay":false,"append":"","useSpawn":"","name":"Speak 'Thanks are unnecessary'","x":1441,"y":1003,"z":"a559c96c.891c68","wires":[["b00b6754.77a9b"],[],[]]},{"id":"b00b6754.77a9b","type":"exec","command":"sudo python /home/pi/site/python/wag_v.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail vertically","x":1625,"y":1093,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"2b95184f.5fddd8","type":"exec","command":"espeak -v en-uk-rp -p 99 -s 180 -k20 'Welcome home master'","addpay":false,"append":"","useSpawn":"","name":"Speak 'Welcome home'","x":1410,"y":1135,"z":"a559c96c.891c68","wires":[["cb30082f.33ad3"],[],[]]},{"id":"cb30082f.33ad3","type":"exec","command":"sudo python /home/pi/site/python/wag_h.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail sideways","x":1617,"y":1226,"z":"a559c96c.891c68","wires":[[],[],[]]},{"id":"11b3c6dd.7ddfc9","type":"arduino in","name":"Voltmeter","pin":"0","state":"ANALOG","arduino":"822d80a.dc1db8","x":144,"y":163,"z":"954f3508.375128","wires":[["595455ab.b6948c"]]}]